.container {
  display: grid;
  gap: 5px;
}

.cell {
  height: 50px;
  width: 50px;
  border: 1px solid grey;
  justify-content: center;
  align-items: center;
  display: flex;
  font-size: 2rem;
  font-weight: 600;
}
