.container {
  height: 15rem;
  width: 15rem;
  border: 2px solid black;
  display: grid;
  gap: 0;
}

.grid-cell {
  border: 0.5px solid black;
  margin: 0;
  padding: 0;
}

.food {
  background-color: red;
  border-radius: 50%;
}

.snake {
  background-color: green;
}
